* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
  color: inherit;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}
body {
  background: black;
  color: white;
}
::-webkit-scrollbar {
  background: black;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgb(123, 2, 175);
}
